/* 'col' Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and above) */
@media (min-width: 576px) and (max-width: 767.98px) {

}


/* Medium devices (tablets,768px and above) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and above) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (1200px and above) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* Extra large devices (1200px and above) */
@media (min-width: 1400px) {

}

/* Extra large devices (1200px and above) */
/*@media (min-width: 1400px) and (max-width: 1599.98) {

}*/

/* Extra large devices (1200px and above) */
/*@media (min-width: 1400px) and (max-width: 1599.98) {

}*/

/* Extra large devices (1200px and above) */
/*@media (min-width: 1500px) and (max-width: 1999.98) {

}*/

/* Extra extra large devices (large desktops,1400px and above) */
/*@media (min-width: 2000px) {

}*/

/*@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }*/