/* UNIVARSAL STYLES */
body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}
/* FONTS */
.noto_serif_ {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter_serif {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner_img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.badge{
  margin-left: 520px;
}
  .badge-hover {
    width: 200px;
    height: 200px;
    transition: width 0.3s ease, height 0.3s ease;
  }

  .badge-hover:hover {
    width: 300px;
    height: 300px;
  }