/* UNIVARSAL STYLES */
body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}
/* FONTS */
.noto_serif_ {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter_serif {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner_img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.margin_top_60px{
  margin-top: 60px;
}
